body > header {
  background: $header-bg;
  min-width:240px;
  h1 {
    display: inline-block;
	font-weight:bold;
    margin: 0;
	font-style:italic;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 .4em;
    font-size: 1.2em;
    color: $subtitle-color;
    font-weight: 100;
	font-style:italic;
  }
}
