body > header {
  background: $header-bg;
  resize:both;
  h1 {
    display: inline-block;
	font-weight:bold;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    font-size: .9em;
    color: $subtitle-color;
    font-weight: 100;
  }
}
