<div id="personal">
  <ul class="social">
      <li>Check out my code on <a href="https://github.com/kwangbkim">GitHub</a></li>
      <li>My <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a> is a barren wasteland!</li>
      <li>I work at <a href="http://www.gweiss.com" title="gweiss">Weiss Multi-Strategy Advisers</a></li>
  </ul>
  <ul class="toolbox">
    <li>My <a href="http://kwangbkim.com/cv/index">CV</a></li>
	<li>Email : <a href="mailto:me@kwangbkim.com">me@kwangbkim.com</a></li>
  </ul>
  <br style="clear:both;">

</div>
